@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;600;800&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Sigmar&display=swap');

:root {
    --main-color: rgb(244, 203, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 70px 0 0 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
    background-image: url("images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #000;
    min-height: 100vh;

}

h2,
h3 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

form>input {
    margin: 10px auto;
    width: 280px;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid black;
}

hr {
    margin-bottom: 15px;
}

/*** NAV BAR***/

header {
    display: block;
}

li {
    list-style: none;
}

a {
    color: #f5f5f5;
    text-decoration: none;
}

.navbar {
    background-color: rgb(35, 35, 35);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto 0 auto;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    z-index: 10;
}

.nav-logo {
    width: 50px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;

}

.nav-text {
    color: var(--main-color);
    margin-right: auto;
    margin-left: 10px;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: var(--main-color);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(255, 255, 255);
}

/*** HOME TOP SECTION ***/
.top-container {
    margin: 35px auto 0 auto;
    text-align: center;

}

.top-section,
.about-section,
.menu-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px auto 20px auto;
    flex-wrap: wrap;
    gap: 35px;
}

.top-section-left,
.about-section-left,
.menu-section-left,
.top-section-right,
.about-section-right,
.menu-section-right {
    width: 350px;
    padding: 10px;
    line-height: 1.3rem;
    text-align: center;
}

.top-section-left {
    line-height: 1.5;
}

.distinct-text {
    color: var(--main-color);
}

.top-section-picture {
    padding-top: 35px;
    width: 100%;
}

.top-section-text {
    padding-top: 55px;
}

.cup {
    height: 300px;
}

.section-btn {
    padding: 15px;
    border: none;
    background-color: var(--main-color);
    color: #fff;
    font-size: 1rem;
    border-radius: 10px;
    margin: 15px 0px;
    width: 150px;
}

.section-btn:hover,
.message-me-btn:hover {
    cursor: pointer;
    filter: brightness(85%);
    transition: ease-in-out 0.3s;
}

/***ABOUT SECTION***/
.section-title {
    text-align: center;
    padding-top: 85px;
    margin-bottom: 35px;
}

/***MENU PAGE ***/
.menu-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 80%;
    margin: 35px auto 20px auto;
}

.milk-tea-container,
.fruit-tea-container,
.carbonated-drinks-container,
.coffee-container,
.banh-mi-container {
    width: 300px;
}

.menu-item {
    margin: 20px 0;
}

.item-name {
    margin-bottom: 10px;
}

.description-text {
    margin: 5px 0;
    font-style: italic;
}

.fa-plus {
    background-color: rgb(0, 177, 0);
    height: 20px;
    color: #fff;
    padding: 3px;
    border-radius: 48%;
    margin-left: 7px;
}

.fa-circle-minus {
    margin-right: 10px;
    font-size: 20px;
}

.fa-circle-plus {
    margin-left: 10px;
    font-size: 20px;
}

.new-view-order-btn {
    margin-left: auto;
    background-color: #f5f5f5;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}


.new-view-order-btn.active {
    visibility: visible;
}

/***BUTTON HOVER STATES***/

.fa-plus:hover,
.fa-x:hover,
.add-to-order-btn:hover,
.view-order-btn:hover,
.pay-now-btn:hover,
.fa-trash:hover,
.new-view-order-btn:hover {
    cursor: pointer;
    filter: brightness(85%);
    transition: .3s ease-in-out;
}

.fa-trash:hover {
    cursor: pointer;
    background-color: red;
    transition: .3s ease-in-out;
}

.fa-circle-minus:hover {
    cursor: pointer;
    color: red;
    transition: .3s ease-in-out;
}

.fa-circle-plus:hover {
    cursor: pointer;
    color: rgb(0, 177, 0);
    transition: .3s ease-in-out;
}

/***ADD TO ORDER MODAL***/
.order-modal .fa-x {
    position: relative;
    right: -130px;
    background-color: red;
    color: #fff;
    padding: 8px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.add-to-order-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 330px;
    margin: 0 auto;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;

}

.close-modal-btn {
    position: relative;
    right: -270px;
    background-color: red;
    color: #fff;
    padding: 8px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.selected-item-name {
    margin: 10px;
}

#quantity {
    padding: 5px;
    width: 70px;
    margin: 10px;
    background-color: #f5f5f5;
    border: none;
    border-radius: 10px;
}

.quantity-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-order-modal {
    display: flex;
}

.quantity-order-item {
    margin-left: 7px;
    margin-right: 10px;
}

.order-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 330px;
    height: 500px;
    margin: 0 auto;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    overflow-y: scroll;
}

.order-item {
    margin: 15px 0;
    text-align: left;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    height: 100px;
}

.fa-trash {
    background-color: black;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    position: relative;
    right: -85%;
    bottom: 40px;
    display: inline-block;
}

.totals-container {
    text-align: right;
}

.add-to-order-modal.active,
.order-modal.active {
    visibility: visible;
}

/***CONTACT SECTION***/
#contact-section {
    padding-top: 15px;
    background-color: rgb(34, 34, 34);
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-to-order-btn,
.view-order-btn,
.pay-now-btn,
.message-me-btn {
    padding: 15px;
    border: none;
    background-color: var(--main-color);
    color: #fff;
    font-size: 1rem;
    border-radius: 10px;
    margin: 15px auto;
    display: block;
    width: 150px;
}

.copyright-text {
    text-align: center;
    padding-bottom: 20px;
    color: #959595;
    font-size: 12px;
}

.social-btn-container {
    margin: 35px 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-btn {
    width: 50px;
    height: 50px;
    font-size: 2rem;
    border-radius: 50%;
    border: none;
    color: rgb(34, 34, 34);
}

.social-btn:hover {
    background-color: var(--main-color);
    cursor: pointer;
    transition: ease-in-out .3s;
}

.copyright-text {
    text-align: center;
    padding-bottom: 20px;
    color: #959595;
    font-size: 12px;
}

.info-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    flex-wrap: wrap;
}

.location,
.hours,
.phone {
    width: 274px;
    margin: 10px auto;
    text-align: center;
}


/***PAYMENT PAGE***/
.payment-container {
    margin: 35px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    height: 100vh;
}

.order-container {
    width: 300px;

}

.pay-order-item {
    margin: 15px auto;
}

.pay-order-item-name {
    font-weight: 600;
}

.back-to-menu {
    margin-top: 30px;
    color: #000;
}

.back-to-menu:hover {
    cursor: pointer;
    text-decoration: underline;
}

/*** NAV BAR MEDIA QUERY***/

@media(max-width:768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: rgb(35, 35, 35);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        opacity: .95;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-text {
        display: none;
    }

    .nav-menu.active {
        left: 0;
    }

    .top-section,
    .about-section,
    .translation-section {
        flex-direction: column-reverse;
    }



    .section-btn {
        margin: 15px auto;
        display: block;
    }

    .section-title {
        margin-bottom: 50px;
    }

    .container {
        margin-top: 55px;
    }

    .top-section-right {
        margin-bottom: -95px;
    }

    .education-first-row {
        margin-top: 95px;
    }
}